[Unit]
Description={{ etcd_cluster_systemd_description }}
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory={{ etcd_cluster_data_dir }}
EnvironmentFile=-{{ etcd_cluster_config_directory }}/{{ etcd_cluster_config_filename }}
User={{ etcd_cluster_user }}
# set GOMAXPROCS to number of processors
ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) /usr/local/bin/etcd{{ etcd_cluster_binary_filename_suffix }}"
Restart=on-failure
LimitNOFILE=65536
IOSchedulingClass=realtime
IOSchedulingPriority=0
Nice=-20

[Install]
WantedBy=multi-user.target
