{
    "signing": {
        "default": {
            "expiry": "{{ etcd_cluster_expiry }}"
        },
        "profiles": {
            "server": {
                "expiry": "{{ etcd_cluster_expiry }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth",
                    "client auth"
                ]
            },
            "client": {
                "expiry": "{{ etcd_cluster_expiry }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "client auth"
                ]
            },
            "peer": {
                "expiry": "{{ etcd_cluster_expiry }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth",
                    "client auth"
                ]
            }
        }
    }
}
