{
    "CN": "{{ ansible_hostname }}",
    "hosts": [
{% for host in etcd_cluster_peer_config_hosts %}
      "{{ host }}"{%if not loop.last %},{% endif %}
{% endfor %}
    ],
    "key": {
        "algo": "{{ etcd_cluster_certificates_ca_csr_algo }}",
        "size": {{ etcd_cluster_certificates_ca_csr_size }}
    },
    "names": [
        {
            "C": "US",
            "L": "CA",
            "ST": "San Francisco"
        }
    ]
}
