ETCD_NAME="{{ ansible_hostname }}"

ETCD_LISTEN_PEER_URLS="https://{{ etcd_cluster_ipv4_host_address }}:{{ etcd_cluster_server_port }}"
ETCD_LISTEN_CLIENT_URLS="https://{{ etcd_cluster_ipv4_host_address }}:{{ etcd_cluster_client_port }},https://127.0.0.1:{{ etcd_cluster_client_port }}"

ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_name }}"
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd_cluster'] %}{{ hostvars[host]['ansible_hostname'] }}=https://{{ hostvars[host]['ansible_' + hostvars[host]['etcd_cluster_ipv4_host_interface']].ipv4.address }}:{{ etcd_cluster_server_port }}{% if not loop.last %},{% endif %}{% endfor %}"

ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ etcd_cluster_ipv4_host_address }}:{{ etcd_cluster_server_port }}"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ etcd_cluster_ipv4_host_address }}:{{ etcd_cluster_client_port }}"

ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="{{ etcd_cluster_data_dir }}"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_ENABLE_V2="true"

ETCD_TRUSTED_CA_FILE={{ etcd_cluster_config_directory }}/ca.pem
ETCD_CERT_FILE={{ etcd_cluster_config_directory }}/server.pem
ETCD_KEY_FILE={{ etcd_cluster_config_directory }}/server-key.pem
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_PEER_TRUSTED_CA_FILE={{ etcd_cluster_config_directory }}/ca.pem
ETCD_PEER_KEY_FILE={{ etcd_cluster_config_directory }}/peer-key.pem
ETCD_PEER_CERT_FILE={{ etcd_cluster_config_directory }}/peer.pem
